:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --blocks-bg-color: #2f303a;
  --page-header-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --btn-primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-secondary-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Page Header */
.main {
  display: flex;
  align-items: center;
}
.page-header {
  box-shadow: var(--page-header-shadow);
}
.navigation {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.logo-dark {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-light {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts nav */
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav .contact:hover,
.contacts-nav .contact:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--blocks-bg-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  /* До момента добавления фона */
  padding-top: 200px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  min-width: 200px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* До момента добавления фона */
  margin-bottom: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-primary-shadow);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

/* Features */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title.hidden {
  display: none;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.features .item {
  width: 270px;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.features-text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.71;
}

/* Examples */
.examples {
  display: flex;
  flex-wrap: wrap;
}
.examples .item:not(:last-child) {
  margin-right: 30px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Team */
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list .item {
  box-shadow: var(--team-list-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.section.team {
  background-color: var(--secondary-bg-color);
}
.team-title {
  padding-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  padding-bottom: 30px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: var(--blocks-bg-color);
}
.footer-adress {
  padding-top: 20px;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.footer-contacts {
  padding-top: 9px;
  color: var(--secondary-white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

/* Portfolio Page */
.section.portfolio {
  padding-top: 75px;
  padding-bottom: 94px;
}
.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
  justify-content: center;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.button-list .item {
  padding-bottom: 16px;
}
.button-secondary {
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;

  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
.button-secondary:hover,
.button-secondary:focus,
.button-secondary.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-secondary-shadow);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
}
/* width: calc((100% - 60px) / 3)) */
/* .flex-container {margin:-15px} .flex-element {margin:15px} */
.flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
}
.flex-element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.flex-element .list.button {
  margin-bottom: 50px;
}
.content {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;

  border: 1px solid #eeeeee;
}
.projects-link {
  text-decoration: none;
}

.projects-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
